{erl_opts, [debug_info,
           {parse_transform, lager_transform},
           {i, "deps/"},
           {i, "../"}
]}.

{deps, [
    {lager, "1.2.1",
        {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {jiffy, ".*",
        {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    {reloader, "0.1",
      {git, "http://github.com/bjnortier/reloader.git", "master"}},

    % Testing:
    {proper, ".*",
        {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
