{erl_opts, [debug_info,
           {parse_transform, lager_transform},
           {i, "deps/"},
           {i, "../"}
]}.

{deps, [
    % Core:
    {lager, "1.2.1",
      {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {jiffy, ".*",
      {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    {edatetime, "",
      {git, "https://github.com/knutin/edatetime.git", {branch, "master"}}},
    {simple_cache, ".*",
      {git, "git://github.com/tgrk/simple_cache.git", {branch, "master"}}},
    {statman_elli, ".*",
      {git, "git://github.com/tgrk/statman_elli.git", {branch, "master"}}},

    % Plugins:
    {erlpocket, ".*",
      {git, "git://github.com/tgrk/erlpocket.git", {branch, "master"}}},

    % Testing:
    {meck, ".*",
      {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
    {eunit_formatters, ".*",
      {git, "git://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
{eunit_opts, [verbose,
              no_tty,
              {report, {eunit_progress, [colored]}}]}.
